@import "../abstracts";

.btn {
  cursor: pointer;
}

.btn-main {
  width: 11.563rem;
  height: 3rem;
  border: none;
  font-weight: bold;
  background-color: $light-vermillion;

  &:hover {
    color: $main-btn-hover;
    background-color: $panel-background-01;
  }
}