:root {
  --body-padding: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

:root {
  --body-padding: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: "Inter", sans-serif;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  background-color: #FFFDFA;
}

body.no-scroll {
  overflow: hidden;
}

:root {
  --body-padding: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 1141px) {
  .hamburger {
    display: none;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    width: 0;
  }
  .nav ul {
    display: flex;
    list-style: none;
    width: 26.938rem;
    justify-content: space-between;
    align-items: center;
  }
  .nav a {
    color: #5E607A;
  }
  .nav a:hover {
    color: #F15D51;
  }
}
@media only screen and (max-width: 1140px) {
  .nav .navBar {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
  }
  .nav .navBar-hidden {
    background-color: #FFFDFA;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    visibility: visible;
    display: block;
    height: 100vh;
  }
  .nav .navBar-hidden ul {
    margin-top: 10rem;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .nav .navBar-hidden ul li {
    margin: 1.5rem 4.5rem;
  }
  .nav .navBar-active {
    width: 70vw;
  }
}
.container {
  z-index: 1000;
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.hamburger {
  width: 3.125rem;
  height: 2.5rem;
  position: relative;
  border: none;
  background-color: transparent;
}

.hamburger__bar {
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  border-radius: 0.025rem;
  top: 50%;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.hamburger__bar:nth-child(2) {
  transform: translateY(-0.5rem);
}

.hamburger__bar:nth-child(3) {
  transform: translateY(0.5rem);
}

.hamburger-active .hamburger__bar:nth-child(1) {
  transition: none;
  opacity: 0;
  transform: scaleY(0);
  visibility: hidden;
}

.hamburger-active .hamburger__bar:nth-child(2) {
  transform-origin: center;
  transform: rotate(135deg);
}

.hamburger-active .hamburger__bar:nth-child(3) {
  transform-origin: center;
  transform: rotate(-135deg);
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
:root {
  --body-padding: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__main {
  display: flex;
}

.header .banner {
  display: flex;
  flex-direction: column;
}

.header .banner__mainImg {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.header .banner__info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.header .banner__title {
  font-weight: 800;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.header .banner__paragraph {
  margin-bottom: 1.5rem;
  line-height: 2;
}

.header .banner__btn {
  width: 11.563rem;
  height: 3rem;
  border: none;
  font-weight: bold;
  background-color: #F15D51;
}

.header .banner__btn:hover {
  cursor: pointer;
  color: #FFFDFA;
  background-color: #00001A;
}

.header .list {
  background-color: #00001A;
  padding: 2rem 1.5rem;
}

.header .list__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-bottom: 1px solid #5E607A;
}

.header .list__box > * {
  padding: 0.5rem 0;
}

.header .list__box a:hover > h3 {
  color: #E9AA52;
}

.header .list__box:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.header .list__header {
  color: #E9AA52;
}

.header .list__title {
  color: #FFFDFA;
}

.header .list__paragraph {
  color: #C5C6CE;
}

.header .tilesContainer {
  justify-content: space-between;
  display: flex;
}

.header .tile {
  display: flex;
  flex: 1;
  margin-bottom: 2rem;
}

.header .tile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .tile__info a:hover h3 {
  color: #F15D51;
}

.header .tile__img {
  max-height: 7.938rem;
  margin-right: 1rem;
}

.header .tile__header {
  color: #F15D51;
}

.header .tile__title {
  color: #00001A;
}

.header .tile__paragraph {
  color: #5E607A;
  line-height: 1.5;
}

@media only screen and (max-width: 700px) {
  .header__main {
    flex-direction: column;
  }
  .banner__info {
    flex-direction: column;
  }
  .banner__mainImg {
    background-image: url("./assets/images/image-web-3-mobile.jpg");
  }
  .list {
    margin-top: 4rem;
  }
  .tilesContainer {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1140px) {
  .tilesContainer {
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1141px) {
  .banner__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 701px) {
  .header {
    max-width: 69.375rem;
  }
  .banner {
    margin-right: 2rem;
    justify-content: space-between;
  }
  .banner__mainImg {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
  }
  .banner__title {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .banner__textGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tilesContainer {
    margin-top: 6rem;
  }
  .tile {
    margin-right: 1rem;
  }
  .tile:last-of-type {
    margin-right: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
