@import "../abstracts";

body {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: 'Inter', sans-serif;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  background-color: $main-background;
}

body.no-scroll {
  overflow: hidden;
}
