:root {
  --body-padding: 16px; //this has to be a css variable written in px for ease of access in js
}

//Brand Colors
$black: #000;
$off-white: #FFFDFA;
$light-gray: #C5C6CE;
$dark-purple: #00001A;
$light-vermillion: #F15D51;
$gray-blue: #5E607A;
$off-yellow: #E9AA52;

//Descriptive color variables
$main-background: $off-white;
$panel-background-01: $dark-purple;
$hamburger-color-01: $black;
$main-btn-hover: $off-white;
$separator-color: $gray-blue;
$header-color-01: $off-yellow;
$paragraph-color-01: $light-gray;
